@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    overflow: hidden;
}

.container {
    padding: 4em;
    height: 100vh;
}
.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    background: #E4F0FF;
    height: 100vh;
    z-index: -1;
}


span {
    font-size: .4em;
    background: #DEDEDE;
    color: black;
    padding: .2em .4em;
    border-radius: 1em;
    display: inline-block;
}


h1 {
    color: #0165E7;
    font-size: 3em;
}

p {
    font-size: 1.3em;
    padding-left: 2em;
    border-left: 4px solid gray;
}



/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/